In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib as mp
from datetime import datetime
from collections import defaultdict
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'C:\\Users\\Snehal\\Documents\\Personal\\snehal\\Jobs and Internships\\Full-time-After Internship\\Allen Institute'

In [3]:
os.chdir('C:\Users\Snehal\Documents\Personal\snehal\Jobs and Internships\Full-time-After Internship\Allen Institute')

In [4]:
df = pd.read_csv('BIE_homework_assignment.csv')

In [5]:
df.head()

,session_id,time,landing_page,path
0,2314440000000000,06/01/2018 0:00,www.semanticscholar.org/,/
1,6405710000000000,06/01/2018 0:00,www.semanticscholar.org/paper/Building-Natural...,/paper/Building-Natural-Language-Interfaces-to...
2,6668560000000000,06/01/2018 0:00,www.semanticscholar.org/paper/Biochemical-and-...,/paper/Biochemical-and-redox-characterization-...
3,6868690000000000,06/01/2018 0:00,www.semanticscholar.org/paper/The-Role-of-Deli...,/paper/The-Role-of-Deliberate-Practice-in-the-...
4,3773870000000000,06/01/2018 0:00,www.semanticscholar.org/paper/Sovereign-Debt-i...,/paper/Sovereign-Debt-in-Latin-America-%2C-182...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
session_id      1000000 non-null int64
time            1000000 non-null object
landing_page    999230 non-null object
path            1000000 non-null object
dtypes: int64(1), object(3)
memory usage: 30.5+ MB

In [7]:
#The columns with 'object' dtype are the possible categorical features in df dataset.

In [8]:
# The reason why I am saying that these categorical features are 'possible' is because we shouldn't not completely rely

In [9]:
# on .info() to get the real data type of the values of a feature, as some missing values that are represented as strings

In [10]:
#  in a continuous feature can coerce it to read them as object dtypes.

In [11]:
df.isnull().sum()

session_id        0
time              0
landing_page    770
path              0
dtype: int64

In [12]:
new_df = df.dropna()

In [13]:
new_df.isnull().sum()

session_id      0
time            0
landing_page    0
path            0
dtype: int64

In [14]:
len(new_df)

999230

In [15]:
len(new_df.landing_page.unique().tolist())

255548

In [16]:
# find a landing page which has 'paper' word to get top 100 papers in the dataset

df1 = new_df[new_df['landing_page'].str.contains("paper")]

In [17]:
# get top 100 most frequent papers
n = 100
df_papers = df1['landing_page'].value_counts()[:n].index.tolist()

In [18]:
# Extracting top 100 papers in Top100Papers.csv file
np.savetxt("Top100Papers.csv", df_papers, delimiter=",", fmt='%s')

In [19]:
###################################################################################

In [20]:
# find top landing page in the dataset

new_df["landing_page"].value_counts().head(5)

www.semanticscholar.org/                                                                                                                              70507
www.semanticscholar.org/search                                                                                                                        27399
www.semanticscholar.org/paper/Development-of-Low-Profile-Patch-and-Semi-Circular-Dashti-Neshati/dfdaa75c51a982313177f0047c3cc8904c1541d9               1105
www.semanticscholar.org/paper/Internet-of-Things-Zhang-Ning/66ae077267dfc2ed6b7a649e5782f31f34a9fe9c                                                    789
www.semanticscholar.org/paper/A-0.26-nJ%2Fnode%2C-400-kHz-Tx-Driving%2C-Filtered-Fully-Park-Kim/56f7a07bc2d092322780ebec6aac6150df5f0607/figure/22      576
Name: landing_page, dtype: int64

In [21]:
new_df["landing_page"].str.split("www.semanticscholar.org/", n =2, expand = True).head()

  0                                                  1     2
0                                                       None
1    paper/Building-Natural-Language-Interfaces-to-...  None
2    paper/Biochemical-and-redox-characterization-o...  None
3    paper/The-Role-of-Deliberate-Practice-in-the-A...  None
4    paper/Sovereign-Debt-in-Latin-America-%2C-1820...  None

In [22]:
TopLandingPage = new_df["landing_page"].str.split("www.semanticscholar.org/", n =2, expand = True)

In [23]:
TopLandingPage[1].str.split("/", n =2, expand = True).head()

,0,1,2
0,,None,None
1,paper,Building-Natural-Language-Interfaces-to-Web-AP...,2c710a926fbe1840c1caa1f6844312d2b02ae7f9
2,paper,Biochemical-and-redox-characterization-of-the-...,001fcc24cc92e81c4d4d5347619b020caa7a86e9
3,paper,The-Role-of-Deliberate-Practice-in-the-Acquisi...,31cd1fb673ebcf2cfb18fca840b831b6e49e650b
4,paper,Sovereign-Debt-in-Latin-America-%2C-1820-%E2%8...,2cc7d57ab834b915d9c2cfd047ac3afdb3c0b985

In [24]:
TopLandingPageType = TopLandingPage[1].str.split("/", n =2, expand = True)

In [25]:
TopLandingPageType[0].value_counts().head()

paper     844699
           70507
author     43916
search     27399
topic      11630
Name: 0, dtype: int64

In [26]:
################### INTERESTING INSIGHTS ############################################

In [27]:
new_date = new_df['time'].str.split(" ", n =2, expand = True)

In [29]:
new_df['new_date'] = new_date[0]

C:\Users\Snehal\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
new_df.head()

,session_id,time,landing_page,path,new_date
0,2314440000000000,06/01/2018 0:00,www.semanticscholar.org/,/,06/01/2018
1,6405710000000000,06/01/2018 0:00,www.semanticscholar.org/paper/Building-Natural...,/paper/Building-Natural-Language-Interfaces-to...,06/01/2018
2,6668560000000000,06/01/2018 0:00,www.semanticscholar.org/paper/Biochemical-and-...,/paper/Biochemical-and-redox-characterization-...,06/01/2018
3,6868690000000000,06/01/2018 0:00,www.semanticscholar.org/paper/The-Role-of-Deli...,/paper/The-Role-of-Deliberate-Practice-in-the-...,06/01/2018
4,3773870000000000,06/01/2018 0:00,www.semanticscholar.org/paper/Sovereign-Debt-i...,/paper/Sovereign-Debt-in-Latin-America-%2C-182...,06/01/2018

In [33]:
new_df['new_date'] = pd.to_datetime(pd.Series(new_df['new_date']))

C:\Users\Snehal\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df.plot.bar()

In [31]:
data = [go.Scatter(
          x=df.time,
          y=df['session'])]

py.iplot(data)

NameError: name 'go' is not defined

In [39]:
# Initialize defaultdict of type float
daily_total_sessions = defaultdict(float)

In [45]:
# Loop over the rows of df data frame
for day in df.iterrows():
    # Get the date
    dates = day[1][0]

    # Get the number of sessions used
    num_sessions = day[1][1]

    # Add the total number of session to the current value for the day
   # daily_total_sessions[dates] += num_sessions

# Print yearly_total_coins
type(dates)

long

In [ ]:

# Visualize aggregated data
plt.bar(range(len(yearly_total_coins)), list(yearly_total_coins.values()), align='center')
plt.xticks(range(len(yearly_total_coins)), list(yearly_total_coins.keys()))
plt.title('# of ethers generated by year')
plt.show()

In [78]:
df_date = df_date1[0]

In [79]:
df_date = pd.to_datetime(df_date, errors='ignore', unit='s')

In [80]:
df_date = df_date.astype('string')

In [36]:
df_date.head()

0    06/01/2018
1    06/01/2018
2    06/01/2018
3    06/01/2018
4    06/01/2018
Name: 0, dtype: object